annotated-types==0.6.0
asgiref==3.7.2
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
cssselect2==0.7.0
dj-database-url==2.1.0
Django
django-appconf==1.0.6
django-cors-headers==4.3.1
django-imagekit==5.0.0
django-ninja==1.1.0
fonttools==4.50.0
gunicorn==21.2.0
html5lib==1.1
idna==3.6
packaging==24.0
pilkit==3.0
pillow==10.2.0
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pydyf==0.9.0
pyphen==0.14.0
python-decouple==3.8
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tinycss2==1.2.1
typing_extensions==4.10.0
urllib3==2.2.1
weasyprint==61.2
webencodings==0.5.1
zopfli==0.2.3
backports.zoneinfo

mysql-connector-python
channels==4.0.0
channels-redis==4.1.0
uvicorn==0.23.2
celery
redis
psycopg2
numpy
django-ninja
pandas
fontawesomefree
django-money
pika-1.3.2
django-celery-results
django-redis==5.4.0
pywhatkit
sendchamp-py
django-simple-history
PyJWT
django-cors-headers