aiohttp
aiosignal
amqp
apt-clone
apturl
arabic-reshaper
asgiref
asn1crypto
async-timeout
attrs
Babel
backports.zoneinfo
beautifulsoup4
billiard
blinker
boto3
botocore
Brlapi
celery
certifi
cffi
channels
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
command-not-found
configobj
cryptography
cssselect2
cupshelpers
dbus-python
defer
defusedxml
diff-match-patch
distro
dj-database-url
Django
django-bootstrap-icons
django-bootstrap4
django-ckeditor
django-ckeditor-5
django-cors-headers
django-countries
django-debug-toolbar
django-htmx
django-import-export
django-ipware
django-jazzmin
django-jazzmin-admin-rangefilter
django-js-asset
django-money
django-ninja
django-rest-framework
django-storages
django-watchman
djangorestframework
dnspython
dynaconf
ecdsa
email-validator
entrypoints
et-xmlfile
frozenlist
future
grpcio
gunicorn
html5lib
httplib2
hvac
idna
ifaddr
IMDbPY
import-export
Jinja2
jmespath
keyring
knox
kombu
launchpadlib
lazr.restfulclient
lazr.uri
libvirt-python
loguru
louis
lxml
macaroonbakery
Mako
MarkupPy
MarkupSafe
marshmallow
marshmallow-jsonapi
multidict
nemo-emblems
netaddr
netifaces
nose
numpy
oauthlib
odfpy
oic
onboard
openai
openpyxl
oscrypto
packaging
PAM
pandas
pexpect
Pillow
prompt-toolkit
protobuf
psutil
psycopg2-binary
py-moneyed
pyasn1
pycairo
pycparser
pycrypto
pycryptodomex
pycups
pycurl
pydantic
Pygments
PyGObject
pyHanko
pyhanko-certvalidator
PyICU
pyinotify
pyjwkest
PyJWT
pymacaroons
PyMySQL
PyNaCl
pyparsing
pyparted
pypdf
pypng
pyRFC3339
python-apt
python-bidi
python-dateutil
python-debian
python-decouple
python-jose
python-xapp
python-xlib
pytz
pyxattr
pyxdg
PyYAML
qrcode
reportlab
requests
requests-file
requests-unixsocket
rsa
s3transfer
SecretStorage
setproctitle
shortuuid
simplejson
six
soupsieve
sqlparse
svglib
systemd-python
tablib
tinycss2
tldextract
tqdm
typing_extensions
tzdata
tzlocal
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
Unidecode
uritools
urllib3
validators
vboxapi
vine
wadllib
wcwidth
webencodings
whitenoise
xhtml2pdf
xkit
xlrd
xlwt
yarl
youtube-dl
zeroconf
