{% extends 'admin/base_site.html' %}
{% load static %}

{% load model_tags %}

{% block extrahead %}
    <script src="{% static 'htmx.min.js' %}" defer></script>
{% endblock extrahead %}
    
{% block content %}
    <div class="container">
        <h1>{{page_title}}</h1>
        <h3>Change Plot Ownership</h3>
        
        <form action="">
            <div class="row mt-4">
                <div class="col-lg-5 p-4 border">
                    <center><b>Current Owner (...)</b></center>
                    <label>Enter Purchase Code</label>
                    <input type="text"  name="from_owner_purchase_code" class="form-control form-control-lg" 
                    placeholder="Purchase Code"
                    />
                </div>
    
                <div class="col-lg-6 p-4 border">
                    <center><b>Receiver's Ownership <span id="customer"></span></b></center>
    
                    <label>Email Client Email Address</label>
                    <input type="text"  name="to_owner_email" class="form-control form-control-lg" 
                    placeholder="To owner's email address"
                    />
                </div>
    
            </div>

            <div class="row mt-4">
                <div class="col-lg-12">
                    <input class="btn btn-lg btn-dark btn-block" type="submit" value="Change Ownership">
                </div>
            </div>
        </form>

        </div>
    </div>
{% endblock content %}
    