{% extends 'admin/base_site.html' %}
{% load table_tag %}
{% load extra_tags %}

{% block content %}


<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="text text-dark shadow p-3">
                <b>{{queryset.get_employee_fullname|upper}}</b>
            </h3>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <p class="text text-primary">
                        <h3>Profile</h3>
                    </p>
                </div>
                <div class="card-body">
                    {% ListUlForSingleQuerySet request=request queryset=queryset searchable_names='branch,user,phone_number,gender,marital_status,designation' %}
                </div>
            </div>
            
        </div>
    
        <!-- second div -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <p class="text text-primary">
                        <h4>Related Task(s)</h4>
                    </p>
                </div>
                <div class="card-body">
                    {% related_item request=request object='OperationTask' lookup_field='assign_to' id=queryset.id searchable_names='task_title,task_project,branch,task_category,task_time,task_site,start_date,end_date,task_priority' %}
                </div>
            </div>
            
            
        </div>
    </div>
    
</div>
  
{% endblock content %}