{% extends 'admin/base_site.html' %}
{% load table_tag %}
{% load extra_tags %}

{% block content %}

<div class="container">
    <h3 class="text text-dark shadow p-3">  
        <b>{{queryset.get_fullname|title}} <a href="" class="btn btn-sm btn-warning"><i>Back</i></i></a></b>
    </h3>
</div>

<div class="container">

   <div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <p class="text text-primary">
                    <h3>Detail(s) Page</h3>
                </p>
            </div>
            <div class="card-body">
                {% ListUlForSingleQuerySet request=request queryset=queryset searchable_names='code,services,nb,nf,total' %}
            </div>
        </div>
        <!-- add extra -->

        {% if queryset.status == '100' %}
        <table>
            <tr>
                <td>
                    <a href="/" class="btn btn-sm btn-warning">Send Confirmation Request</a>
                </td>
            </tr>
        </table>
    {% endif %}


    </div>

   </div>

</div>
  
{% endblock content %}