
{% load static %}

{% load realestate_tags %}


{% block extrahead %}
    <script src="{% static 'htmx.min.js' %}" defer></script>
{% endblock extrahead %}
    
<h3>Sell With Existing Customer</h3>
<form hx-target="#message" hx-confirm="Are you sure?"  hx-post="{% show_path %}/realestate/realestateplot/activate-payment/{{id}}/" method="POST">
        {% csrf_token %}
        <section>
            <div class='row'>
                <div class='col-md-4'>
                    <label>Choose Status</label>
                    {% show_status name='status' classname='form-control' %}
                </div>
                <div class='col-md-4'>
                   <label > Activation Request Code</label>
                    <input type="text" name="activation_code" class="form-control" readonly value="{% show_code %}" />
                </div>
                <div class='col-md-4'>
                    <label >Payment Title</label>
                    <select onchange="change_payment_title(this.value);" name="proxy" class="form-control">
                        <option >Choose</option>
                        <option value="self">Self</option>
                        <option value="third Party">Third Party</option>
                    </select>
                </div>
            </div>

        </section>

        <!-- sells form with customers -->
        <div class="mt-4">
            <section>
                <div class='row'>
                    <!-- <div class="col-md-4">
                        <label>Customer Name</label> -->
                        <input type="hidden" name="customer" class='form-control' />
                    <!-- </div> -->
                    <div class='col-md-6'>
                        <label>Customer email</label>
                        {% show_customers name='customer_email' classname='form-control' %}
                    </div>

                    <div class='col-md-6'>
                        <label>Total Amount</label>
                        <input readonly type="text" class="form-control" name="total_amount" value="{{amount}}" />
                    </div>
                </div>                
            </section>
        </div>

        <div class='row' id="initial_amount_container">
            <div class='col-md-6'>
                <label>Enter Amount</label>
                <input type="number"  class="form-control" name="initial_amount" />
            </div>

            <div class='col-md-6'>
                <label>Limited Date</label>
                <input type="date"  class="form-control" name="limited_date" />
            </div>
            
        </div>


        <div class='row' id="third_party_container" hidden>
            <div class='col-md-4'>
                <label>Third Party Name</label>
                <input type="text"  class="form-control" name="third_party_name" />
            </div>

            <div class='col-md-4'>
                <label>Third Party Phonenumber</label>
                <input type="tel"  class="form-control" name="third_party_phone" />
            </div>
            
            <div class='col-md-4'>
                <label>Third Party Email</label>
                <input type="email"  class="form-control" name="third_party_email" />
            </div>
        </div>

        
        <div class="col-lg-12 mt-4">
            <button  type="submit">Submit</button>
        </div>
        

    </form>



<script>
    

function show_content1(params) {
    document.getElementById('first_container1').removeAttribute('hidden')
    document.getElementById('first_container2').setAttribute("hidden",true)
    document.querySelectorAll('.initial_amount_container').setAttribute('hidden',true)
}


function show_content2(param) {
    // alert(param.target.textContent)
    document.getElementById('first_container1').setAttribute("hidden",true)
    document.getElementById('first_container2').removeAttribute("hidden")
}

document.getElementById('initial_amount_container').setAttribute('hidden', true)
function status_container_select(param) {
    const targetted_data =  param.target.value;
    const data =  {
        "reserve":true,
    }
    data[targetted_data]? document.getElementById('initial_amount_container').removeAttribute('hidden'): document.getElementById('initial_amount_container').setAttribute('hidden', true)
}
document.getElementById('status_container_select').addEventListener('change', status_container_select, false)




function change_payment_title(param) {

    if(param !== 'self') {
        document.getElementById('third_party_container').removeAttribute('hidden');
    }else {
        document.getElementById('third_party_container').setAttribute('hidden', true);
    }
}
</script>