{% extends "admin/index.html" %}


{% block content %}


<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="text text-primary">Welcome, {{request.user}}</h2>
                <i><i>{{request.user.email}}</i></i> <br>
                <i>Last Seen: {{request.user.last_login}}</i>
            </div>
            <div class="col-lg-8">
                {% include "dash_template/dash_nav.html" %}
            </div>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-lg-8">
            {% include "dash_template/dash_content_left.html" %}
        </div>
        <div class="col-lg-2">
            {% include "dash_template/dash_content_right.html" %}
        </div>
    </div>


</div>

<!-- {{ block.super }} -->
{% endblock content %}
    