{% extends "mega/base.html" %}
{% load frontend_tags %}
{% load estate_plot_tags  %}
{% load static %}
{% static "mega/assets/css" as cx %}
{% static "mega/assets/js" as jx %}
{% static "mega/assets/vendor" as vend %}
{% static "mega/assets/img" as img %}
{% static "mega/assets/fonts" as fonts %}

{% block content %}

<!-- Fullscreen search -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fal fa-times search-close" id="search-close"></i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input type="search" class="main-search-input" placeholder="Search Entire Store...">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end fullscreen search -->

<!-- hero area start here -->
<section class="slider-area fix">
    <div class="slider-active slider-s-animation swiper-container">
        <div class="swiper-wrapper">

            {% frontdata model='Slider' as sliders %}
            {% for  slider in sliders  %}
            
        
                <div class="single-slider slider-height d-flex align-items-center swiper-slide" 
                data-swiper-autoplay="5000">
                    <div class="slide-bg" data-background="{{slider.image.url}}"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="aslider z-index text-center">
                                    <span class="slider-top-text" data-animation="fadeInUp" data-delay=".5s">
                                        {{slider.sub_title}}
                                    </span>
                                    <div class="aslider--title-wrapper" data-animation="fadeInUp" data-delay=".7s">
                                        <h2 class="aslider--title aslider--title-bg mb-60">
                                            {{slider.title}}
                                        </h2>
                                    </div>
                                    <!-- <p class="aslider--subtitle" data-animation="fadeInUp" data-delay=".9s">
                                        {{ slider.description|wordwrap:10 }}
                                    </p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev slide-prev"><i class="far fa-long-arrow-left"></i></div>
        <div class="swiper-button-next slide-next"><i class="far fa-long-arrow-right"></i></div>
    </div>

    
</section>
<!-- hero area end here -->



<!-- mservices area start here -->
<section class="mservices-area pt-120 pb-80">
    <div class="container">
        <div class="row">
        {% frontdata model='Services' as frontend_services %}
        {% for service in frontend_services %}
          
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="mservices mb-30 text-center wow fadeInUp" data-wow-delay="0.3s">
                    <div class="mservices__icon mb-30 p-relative">
                        <i class="{{service.icon}}"></i>
                        <img src="{{img}}/services-ex/sr-shape.png" alt="img">
                    </div>
                    <div class="mservices__content transition-3">
                        <h3 class="mservices__content-title"><a href="#">
                            {{service.title}}
                        </a></h3>
                        <p>
                            {{service.note}}
                        </p>
                    </div>
                </div>
            </div>
     
        {% endfor %}
        </div>
    </div>
</section>
<!-- mservices area end here -->

<!-- business services area start here -->
<div class="business-service-area business-sbg pt-110 pb-85">
    <div class="container">
        <div class="row align-items-center wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-xl-6 col-lg-6">
                <div class="section_title_wrapper mb-60">                       
                    <h2 class="msection-title msection-title-white title-br">
                        Available Estate Plots
                    </h2>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 ">
                <div class="business-right-btn ml-35 mb-40">
                    <a href="/" class="theme-btn home2-btn btn-yellow btn-yellow-hover"><i class="fal fa-angle-double-right"></i>Get more of our awesome products</a>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-container">
        <div class="row business__services">
            {% eFrontdata model='RealEstatePlot' as plots %}
            {% for plot in plots  %}
              
            
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="business__services-single p-relative mb-30 wow fadeInUp" data-wow-delay="0.3s">
                    <img src="{{plot.realestate.banner.url}}" height="500">
                    <div class="business__services-single-content">
                        <span>{{plot.realestate.name}}</span>
                            <h2 class="business-title"><a href="/">
                                Goto {{plot.name}}
                            </a></h2>
                    </div>
                </div>
            </div>

            {% endfor %}
         
        </div>
    </div>
</div>
<!-- business services area end here -->

<!-- Solutions area start here -->
<section class="solutions-area pt-110 pb-90">
    <div class="custom-container">
        <div class="row justify-content-center">
            <div class="col-xxl-10">
                <div class="section_title_wrapper text-center mb-60 wow fadeInUp" data-wow-delay="0.3s">      
                    <h2 class="msection-title">
                        Now   <span>Selling</span>
                    </h2>               
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="achievement-group achievement-group2 mb-30">
                    <div class="achievement-item achievement-item2 mb-30">
                        <ul class="achievement-item-box achievement-extra  achievement-item-box1 d-flex align-items-center">
                            <li><i class="flaticon-support"></i>
                            </li>
                            <li><h2 class="counter-count counter-count2"><span class="counter">120</span>+</h2>
                                <p class="counter-title counter-title2">expert employee</p>
                            </li>
                        </ul>
                    </div>
                    <div class="achievement-item achievement-item2 mb-30">
                        <ul class="achievement-item-box achievement-extra achievement-item-box2 d-flex align-items-center">
                            <li><i class="flaticon-medal"></i>
                            </li>
                            <li><h2 class="counter-count counter-count2"><span class="counter">325</span>+</h2>
                                <p class="counter-title counter-title2">Completed Project</p>
                            </li>
                        </ul>
                    </div>
                    <div class="achievement-item achievement-item2">
                        <ul class="achievement-item-box achievement-extra achievement-item-box3 d-flex align-items-center">
                            <li><i class="flaticon-recovered"></i>
                            </li> 
                            <li><h2 class="counter-count counter-count2"><span class="counter">235</span>+</h2>
                                <p class="counter-title counter-title2">Happy customer</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 order-xxl-3 wow fadeInUp" data-wow-delay="0.9s">
                <div class="mabout mabout2">
                    <div class="mabout__single mabout__single2 d-flex mb-40">
                        <div class="mabout__single-icon mabout-icon-dfcolor mr-30 ">
                            <a class="" href="about.html"><i class="flaticon-fast-delivery"></i></a>
                        </div>
                        <div class="mabout__single-text">
                            <h5 class="mabout-title mb-10"> <a href="about.html">Quick Delivery</a></h5>
                            <p>Entedum habitan grave platea tibus socise over the posuere ornar quse que imperdiet tempor</p>
                        </div>
                    </div>
                    <div class="mabout__single mabout__single2 d-flex  mb-40">
                        <div class="mabout__single-icon mabout-icon-dfcolor2 mr-30 ">
                            <a class="" href="about.html"><i class="flaticon-worker"></i></a>
                        </div>
                        <div class="mabout__single-text">
                            <h5 class="mabout-title mb-10"> <a href="about.html">Support Member</a></h5>
                            <p>Entedum habitan grave platea tibus socise over the posuere ornar quse que imperdiet tempor</p>
                        </div>
                    </div>
                    <div class="mabout__single mabout__single2 d-flex  mb-40">
                        <div class="mabout__single-icon mabout-icon-dfcolor3 mr-30 ">
                            <a class="" href="about.html"><i class="flaticon-technical-support"></i></a>
                        </div>
                        <div class="mabout__single-text">
                            <h5 class="mabout-title mb-10"> <a href="about.html">Free Consulting</a></h5>
                            <p>Entedum habitan grave platea tibus socise over the posuere ornar quse que imperdiet tempor</p>
                        </div>
                    </div>
                </div>
            </div>
             -->
             {% frontdata model='NowSelling' as now_selling %}
  
            <div class="row">
                {% for selling in now_selling %}
                <div class="testimonial-active owl-carousel wow fadeInUp" data-wow-delay="0.6s">
                    <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-12 order-xxl-2 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="solutions__thumb mb-30">
                            <img src="{{selling.image.url}}">
                     
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
<!-- Solutions area end here -->

<!-- Testimonail area start here -->
<section class="testimonail-area pt-110 pb-335 black-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-10">
                <div class="section_title_wrapper text-center mb-60 wow fadeInUp" data-wow-delay="0.3s">      
                    <h2 class="msection-title msection-title-white">
                        Our Team <span>Members</span>
                    </h2>               
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial-active owl-carousel wow fadeInUp" data-wow-delay="0.6s">
                <div class="testimonial__wrapper-br">
                    <div class="testimonial__wrapper">
                        <div class="testimonial__wrapper-info d-flex align-items-center mb-25">
                            <div class="testimonial__wrapper-info-img mr-20 p-relative">
                                <img src="{{img}}/testimonail/ts-1.png" alt="img not found">
                                <div class="testimonial__wrapper-info-quotes">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                            </div>
                            <div class="testimonial__wrapper-info-author">
                                <h4>Samira Zospen</h4>
                                <span>Senior Designer</span>
                            </div>
                        </div>
                        <div class="testimonial__wrapper-content">
                            <p>Scelerisque egenter auce tellus lobortis montes enim urnan proin site rhoncus tole malagna tortor sagittis me lacus dictumst blandit site egestas vehicula adipiscing psum uteral salen montes </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial__wrapper-br">
                    <div class="testimonial__wrapper">
                        <div class="testimonial__wrapper-info d-flex align-items-center mb-25">
                            <div class="testimonial__wrapper-info-img mr-20 p-relative">
                                <img src="{{img}}/testimonail/ts-2.png" alt="img not found">
                                <div class="testimonial__wrapper-info-quotes">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                            </div>
                            <div class="testimonial__wrapper-info-author">
                                <h4>Fernan Reynos</h4>
                                <span>Senior Designer</span>
                            </div>
                        </div>
                        <div class="testimonial__wrapper-content">
                            <p>Scelerisque egenter auce tellus lobortis montes enim urnan proin site rhoncus tole malagna tortor sagittis me lacus dictumst blandit site egestas vehicula adipiscing psum uteral salen montes </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial__wrapper-br">
                    <div class="testimonial__wrapper">
                        <div class="testimonial__wrapper-info d-flex align-items-center mb-25">
                            <div class="testimonial__wrapper-info-img mr-20 p-relative">
                                <img src="{{img}}/testimonail/ts-3.png" alt="img not found">
                                <div class="testimonial__wrapper-info-quotes">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                            </div>
                            <div class="testimonial__wrapper-info-author">
                                <h4>Sami Zospen</h4>
                                <span>Senior Designer</span>
                            </div>
                        </div>
                        <div class="testimonial__wrapper-content">
                            <p>Scelerisque egenter auce tellus lobortis montes enim urnan proin site rhoncus tole malagna tortor sagittis me lacus dictumst blandit site egestas vehicula adipiscing psum uteral salen montes </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial__wrapper-br">
                    <div class="testimonial__wrapper">
                        <div class="testimonial__wrapper-info d-flex align-items-center mb-25">
                            <div class="testimonial__wrapper-info-img mr-20 p-relative">
                                <img src="{{img}}/testimonail/ts-1.png" alt="img not found">
                                <div class="testimonial__wrapper-info-quotes">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                            </div>
                            <div class="testimonial__wrapper-info-author">
                                <h4>Zospen Samira </h4>
                                <span>Senior Designer</span>
                            </div>
                        </div>
                        <div class="testimonial__wrapper-content">
                            <p>Scelerisque egenter auce tellus lobortis montes enim urnan proin site rhoncus tole malagna tortor sagittis me lacus dictumst blandit site egestas vehicula adipiscing psum uteral salen montes </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial__wrapper-br">
                    <div class="testimonial__wrapper">
                        <div class="testimonial__wrapper-info d-flex align-items-center mb-25">
                            <div class="testimonial__wrapper-info-img mr-20 p-relative">
                                <img src="{{img}}/testimonail/ts-2.png" alt="img not found">
                                <div class="testimonial__wrapper-info-quotes">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                            </div>
                            <div class="testimonial__wrapper-info-author">
                                <h4>Zospen Samira </h4>
                                <span>Senior Designer</span>
                            </div>
                        </div>
                        <div class="testimonial__wrapper-content">
                            <p>Scelerisque egenter auce tellus lobortis montes enim urnan proin site rhoncus tole malagna tortor sagittis me lacus dictumst blandit site egestas vehicula adipiscing psum uteral salen montes </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial__wrapper-br">
                    <div class="testimonial__wrapper">
                        <div class="testimonial__wrapper-info d-flex align-items-center mb-25">
                            <div class="testimonial__wrapper-info-img mr-20 p-relative">
                                <img src="{{img}}/testimonail/ts-3.png" alt="img not found">
                                <div class="testimonial__wrapper-info-quotes">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                            </div>
                            <div class="testimonial__wrapper-info-author">
                                <h4>Zospen Samira </h4>
                                <span>Senior Designer</span>
                            </div>
                        </div>
                        <div class="testimonial__wrapper-content">
                            <p>Scelerisque egenter auce tellus lobortis montes enim urnan proin site rhoncus tole malagna tortor sagittis me lacus dictumst blandit site egestas vehicula adipiscing psum uteral salen montes </p>
                        </div>
                    </div>
                </div>
                <div class="testimonial__wrapper-br">
                    <div class="testimonial__wrapper">
                        <div class="testimonial__wrapper-info d-flex align-items-center mb-25">
                            <div class="testimonial__wrapper-info-img mr-20 p-relative">
                                <img src="{{img}}/testimonail/ts-2.png" alt="img not found">
                                <div class="testimonial__wrapper-info-quotes">
                                    <i class="fas fa-quote-left"></i>
                                </div>
                            </div>
                            <div class="testimonial__wrapper-info-author">
                                <h4>Zospen Samira </h4>
                                <span>Senior Designer</span>
                            </div>
                        </div>
                        <div class="testimonial__wrapper-content">
                            <p>Scelerisque egenter auce tellus lobortis montes enim urnan proin site rhoncus tole malagna tortor sagittis me lacus dictumst blandit site egestas vehicula adipiscing psum uteral salen montes </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonail area end here -->



<!-- team area start here -->
<section class="mgteam-area pt-110 pb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-10">
                <div class="section_title_wrapper text-center mb-60 wow fadeInUp" data-wow-delay="0.3s">      
                    <h2 class="msection-title">
                         Our Available <span>Estates</span>
                    </h2>               
                </div>
            </div>
        </div>
        <div class="row">
            {% eFrontdata model='RealEstate' nindex=4 as estates %}
            {% for estate in estates %}
              
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="mgteam mb-30 wow fadeInUp" data-wow-delay=".3s">
                    <div class="mgteam__space mb-20">
                        <div class="mgteam__wrapper p-relative">
                            <img src="{{estate.banner.url}}" class="img-fluid" alt="img">
                            <div class="mgteam__wrapper-fixicon p-relative">
                                <div class="mgteam__wrapper-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                               <a href="#"> <i class="fal fa-share-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="mgteam__wrapper-info text-center">
                        <h4 class="mgteam__title"><a href="#" class="btn btn-danger btn-block">
                            {{estate.name}}
                        </a></h4>
                        <!-- <span class="">C.Director</span> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- team area end here -->



<!-- mblog area start here -->
<section class="mblog-area pt-110 pb-85">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-10">
                <div class="section_title_wrapper text-center mb-60 wow fadeInUp" data-wow-delay="0.3s">      
                    <h2 class="msection-title">
                        News <br> For Future <span>Business</span>
                    </h2>               
                </div>
            </div>
        </div>
        <div class="row">
            {% frontdata model='Blog' nindex=4 as blogs %}
                {% for blog in blogs %}

                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="mblog-pd mb-30 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="mblog">
                            <div class="mblog__thumb p-relative">
                                <div class="mblog__thumb-img">
                                <a href="/">
                                    <img src="{{blog.image.url}}" 
                                    style="height: 300px;">
                                </a>
                                </div>
                                <div class="mblog__tag">
                                    <a href="#"><i class="far fa-tags"></i>
                                        {{blog.category.title}}
                                    </a>
                                </div>
                            </div>
                            <div class="mblog__content">
                                <h2 class="mblog__title mb-25">
                                    <a href="#">
                                        {{blog.title}}
                                    </a>
                                </h2>
                                <div class="mblog__meta pt-10">
                                    <span><i class="far fa-calendar-alt"></i>{{blog.created}}</span>
                                    <a href="#"><span><i class="far fa-comment"></i>0 Comments</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</section>
<!-- mblog area end here -->


<!-- maps area start here -->
<section class="maps-area pb-120">
    <div class="custom-container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="contact__maps p-relative wow fadeInUp" data-wow-delay="0.3s">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830894612!2d-74.11976383964465!3d40.69766374865766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1640163342875!5m2!1sen!2sbd"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="mopening_info">
                        <div class="mopening_info-time">
                            <h2 class="mopening_info-time-title mb-30">
                                Opening Time
                            </h2>
                            <ul>
                                <li><span>Sun: </span><span>8:30am -10:30pm</span></li>                                        
                                <li><span>Mon: </span><span>8:30am -10:30pm</span></li>
                                <li><span>Tue: </span><span>8:30am -10:30pm</span></li>
                                <li><span>Wed: </span><span>8:30am -10:30pm</span></li>
                                <li><span>Tue: </span><span>8:30am -10:30pm</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="mgcontact__trial wow fadeInUp" data-wow-delay="0.6s">
                    <div class="sidebar-title mb-30">
                        <h3>Free Estimate</h3>
                    </div>
                    <div class="mgcontact__trial-form">
                        <form action="#">
                            <input type="text" placeholder="Your Name">
                            <input type="email" placeholder="Phone Number">
                            <select style="display: none;">
                                <option> Choose Service</option>
                                <option> Choose an option</option>
                                <option> Choose an option</option>
                                <option> Choose an option</option>
                                <option> Choose an option</option>
                            </select><div class="nice-select" tabindex="0"><span class="current"> Choose Service</span><ul class="list"><li data-value="Subject" class="option selected focus"> Choose Service</li><li data-value="Choose an option" class="option"> Choose an option</li><li data-value="Choose an option" class="option"> Choose an option</li><li data-value="Choose an option" class="option"> Choose an option</li><li data-value="Choose an option" class="option"> Choose an option</li></ul></div>
                            <textarea placeholder="Write Message" cols="30" rows="10"></textarea>
                            <button class="theme-btn home2-btn btn-yellow"><i class="fal fa-angle-double-right"></i> Free Estimate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- maps area end here -->



{% endblock content %}