<div class="sidebar__content p-relative z-index-1">
    <div class="sidebar__menu">
        <div class="main-menu d-none">
            <nav id="mobile-menu-2">
                <ul>
                    
                    <li><a href="{% url 'frontend:index'  %}">Home</a></li>
                    <!-- <li><a href="{% url 'frontend:index' pagename='service-details' page_title='Services' %}">Services</a></li> -->
                    <!-- <li class="menu-item-has-children"><a href="blog.html">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li> -->

                    <!-- <li><a href="{% url 'frontend:index' pagename='contact' page_title='Contact' %}">Contact</a></li> -->
                </ul>
            </nav>
        </div>                    
        <div class="mobile-menu-2"></div>
        <div class="contact-infos mb-30">
            <div class="contact-list">
                <h4>Contact Info</h4>
                <ul>
                    <!-- <li><i class="flaticon-location"></i>28/4 Palmal, Londonxx</li>
                    <li><i class="flaticon-letter"></i><a href="mailto:info@klenar.com">info@mega.com</a></li>
                    <li><i class="flaticon-phone-call"></i><a href="tel:02(205)5552255">02 (205) 555 2255</a></li>
                </ul> -->
                <div class="sidebar__menu--social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>