{% load static %}

{% load model_tags %}
{% load djmoney %}


{% block extrahead %}
    <script src="{% static 'htmx.min.js' %}" defer></script>
{% endblock extrahead %}


<div class="container mt-4">

    <div class="row mt-4 mb-4">
        <div class="col-lg-11 p-3">
            <ul>
                <li><b>Activation Code: {{payment.activation_code}}</b></li>
                <li><b>Plot Estate Name: {{payment.plot.realestate.name}}</b></li>
                <li>Plot Name: {{payment.plot.name}}</li>
                <li>Customer's name: {{payment.customer}}</li>
                <li>Customer email: {{payment.customer_email}}</li>
                <li>Total Amount: {% money_localize payment.total_amount 'NGN' %}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <button 
            hx-confirm="Are You Sure?"
            hx-target="#mesage"
            hx-get="{% show_path %}/realestate/realestateplot/admin-confirm-payment/{{payment.id}}/" 
            class="">Send Payment Proof Request</button>
        </div>

        <span id="mesage"></span>
    </div>
</div>