{% extends 'admin/base_site.html' %}
{% load table_tag %}
{% load extra_tags %}


{% block content %}

<div class="container">
    <div class="text text-dark">
        <h3>Engineering Report</h3>
    </div>
</div>


<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <p class="text text-primary">
                    <h3>Detail(s) Page</h3>
                </p>
            </div>
            <div class="card-body">
                {{form.as_p}}
            </div>
        </div>
        <!-- add extra -->
    </div>


   </div>


{% endblock content %}