{% extends "admin/index.html" %}


{% block content %}
<div class="container bg-white p-3 shadow">
    <div class="col-lg-12">
        
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text text-primary">Welcome, {{request.user}}</h2>
                <h5 class="text text-dark">Designation: {{request.user.roles}}</h5>
                <i><i>{{request.user.email}}</i></i> <br>
                <i>Last Seen: {{request.user.last_login}}</i>
            </div>
        
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% include "dash_template/dash_content_right.html" %}
        </div>
    </div>

    {% include "dash_template/dash_content_left.html" %}

    <!-- { nclude "dash_template/dash_settings.html"} -->
</div>

<!-- {{ block.super }} -->
{% endblock content %}
    