{% load static %}
{% load sidenav %}
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <!-- <h3>General</h3> -->
        <ul class="nav side-menu">
            <!-- <li>
                <a href="/superadmin/">
                    <i class=""></i>
                    Home
                </a>
            </li> -->
            {% sidenavigation adminsite=adminsite %}
        </ul>
    </div>
</div>
<!-- script: $325 - 313,625
 hosting: -$102.00 for one year =  40,414.2 - 965
 mail clients: mailgun monthly is 35 dollars 33,775 -->
