{% load i18n admin_urls %}
<div class="row">
    {% block submit-row %}


    {% if show_save %}
    <div class="col-md-12">
        <input
            type="submit"
            value="{% translate 'Save' %}"
            name="_save"
            class="btn btn-sm btn-block btn-success"
        >
    </div>
    {% endif %}


    {% if show_save_as_new %}
    <div class="col-md-12">
        <input
            type="submit"
            value="{% translate 'Save as new' %}"
            class="btn btn-sm btn-danger"
            name="_saveasnew"
        >
    </div>
    {% endif %}


    {% if show_save_and_add_another %}
    <div class="col-md-12">
        <input
            type="submit"
            class="btn btn-block btn-secondary"
            value="{% translate 'Save and add another' %}"
            name="_addanother"
        >
    </div>
    {% endif %}


    {% if show_save_and_continue %}
    <div class="col-md-12">
        <input
            type="submit"
            class="btn btn-block btn-primary"
            value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}"
            name="_continue"
        >
    </div>
    {% endif %}

    {% if show_close %}
    {% url opts|admin_urlname:'changelist' as changelist_url %}
    <div class="col-md-12">
        <a href="{% add_preserved_filters changelist_url %}" class="closelink">{% translate 'Close' %}</a>
    </div>
    {% endif %}

    {% if show_delete_link and original %}
    <div class="col-lg-12">
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a href="{% add_preserved_filters delete_url %}" class="btn btn-block btn-danger">{% translate "Delete" %}</a>
    </div>
    {% endif %}


    {% endblock %}
</div>
